@import-normalize; /* bring in normalize.css styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Madimi One", sans-serif;
  background-color: #f4edcc;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
